<assembly xmlns="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.2"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/plugins/maven-assembly-plugin/assembly/1.1.2 http://maven.apache.org/xsd/assembly-1.1.2.xsd">
    <id>distribution</id>
    <formats>
        <format>dir</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <files>
        <file>
            <source>target/pigeonserver.5.0-SNAPSHOT-jar-with-dependencies.jar</source>
            <outputDirectory>lib</outputDirectory>
        </file>
        <file>
            <source>src/configs/pigeonserver_shard0_s1.json</source>
            <outputDirectory>configs</outputDirectory>
        </file>
        <file>
            <source>src/configs/pigeonserver_shard0_s2.json</source>
            <outputDirectory>configs</outputDirectory>
        </file>
        <file>
            <source>src/configs/pigeonserver_shard1_s1.json</source>
            <outputDirectory>configs</outputDirectory>
        </file>
        <file>
            <source>src/configs/pigeonserver_shard1_s2.json</source>
            <outputDirectory>configs</outputDirectory>
        </file>
        <file>
            <source>src/configs/pigeonServerIsoneV45_develop.json</source>
            <outputDirectory>configs</outputDirectory>
        </file>
        <file>
            <source>src/configs/logging.properties</source>
            <outputDirectory>configs</outputDirectory>
        </file>
         <file>
            <source>src/managescripts/startup.bat</source>
            <outputDirectory>bin</outputDirectory>
        </file>
        <file>
            <source>src/managescripts/startup.sh</source>
            <outputDirectory>bin</outputDirectory>
        </file>

        <file>
            <source>src/configs/log4j.properties</source>
            <outputDirectory>configs</outputDirectory>
        </file>

        <file>
            <source>src/configs/dummy.log</source>
            <outputDirectory>logs</outputDirectory>
        </file>
    </files>

    <fileSets>
        <fileSet>
            <directory>src/sql</directory>
            <outputDirectory>sql</outputDirectory>
        </fileSet>
    </fileSets>
</assembly>